body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, section, footer {
    margin: 20px;
    padding: 20px;
}

section {
    background-color: #f4f4f4;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
}

a {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive image for mobile devices */
@media screen and (max-width: 600px) {
    header, section, footer {
        margin: 10px;
        padding: 10px;
    }
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the space between your icons */
}

.social-media img {
    width: 30px; /* Adjust the size of your icons */
    height: auto;
    transition: transform 0.3s ease;
}

.social-media img:hover, .social-media img:focus {
    transform: scale(1.1); /* Slightly enlarges the icon when hovered or focused */
}